.live-blockchain-container {
    height: max-content;
    background-color: var(--dark-gray); /* cor terracotta */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    padding-bottom: 2.5rem;
  }
  
  .live-blockchain-content {
    text-align: center;
    position: relative;
    width: 100%;
  }
  
  .live-blockchain-title {
    font-family: var(--otherlife-font);
    font-size: 4rem;
    transform: translateX(-50%),translateY(-50%);
    z-index: 400;
    color: var(--light-beige);
    transition: all 1s;

    text-shadow: 
    1px 1px 0 #000000,  
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000;
  }
  
.beige  {
    color: var(--light-beige);
}