body {
  margin: 0;
  font-family: "Arial", sans-serif;
  overflow-x: hidden;
  cursor: none;
}

.App {
  scroll-behavior: smooth;
}


.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #feeac96c; 
  border: 1px solid var(--dark-gray);
  pointer-events: none;
  z-index: 9999;
}
