@font-face {
  font-family: "Otherlife";
  src: url("../src/assets/fonts/Otherlife2.ttf") format("truetype");
}

@font-face {
  font-family: "Minimalista";
  src: url("../src/assets/fonts/minimalista.ttf") format("truetype");
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  * {
    box-sizing: inherit;
  }

  :root {
    --dark: #090a0e;
    --dark-gray: #242424;
    --bronze: #cd7f32;
    --light-beige: #feeac9;
    --dark-red: #8b0000;
    --otherlife-font: "Otherlife";
    --minimalista-font: "Minimalista";
  }